@charset "UTF-8";

body{
    background-color: #E9967A;
    top: 0px;
    height: 90vh;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    border-bottom: 0px;
}

menu > nav > a {
    text-decoration: none;
    display: flex;
    margin-left: 20px;
}

.menu {
    display: flex;   
}

div.home {
    text-align: center;
    min-height: 87.1vh;
}

div > h1 > picture > img {
    width: 50px;
    height: 80px;
}
footer {
    background-color: black;
    color: aliceblue;
    padding: 1px;
}

footer > p {
    text-align: center;
    font-size: 20px;
}