@charset "UTF-8";

body{
    padding: 0px;
    height: 100%;
    width: 99%;
}
html{
    background-color: #e4bd89;
}

div {
    text-align: center;
}

p {
    text-align: justify;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

footer {
    background-color: black;
    color: aliceblue;
    padding: 1px;
}
footer > p {
    text-align: center;