@charset "UTF-8";

body{
    overflow-y: auto;
    background-color: #E9967A;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}
header{
    height: 60px;
}



#menu {
    background-color: black;
    color: aliceblue;
    display: flex;  
    height: 50px; 
    margin-top: 0px;
}

#navbarNav > ul > li > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    margin-left: 30px;
    margin-top: 16px;
    margin-bottom: 16px;
}

div.home {
    text-align: center;
    font-size: 30px;
    min-height: 60.8vh;
    margin-top: 250px;
}

div > h1 > picture > img {
    width: 50px;
    height: 80px;

}
footer {
    background-color: black;
    height: 50px;
    color: aliceblue;
}

footer > p {
    text-align: center;
    font-size: 20px;
    padding: 11px;
}