@charset "UTF-8";

div.receitas {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 500px;
    margin: auto;
    justify-content: center;
    
}

div.receita {
    background-color: #F9FAD2;
    min-height: 792px;
    margin: 10px;
    width: 490px;    
}

div > h2 {
    text-align: center;
}